{% extends 'base.html' %}
{% load static i18n %}
{% block header %}
    <h1 class="header__title">{% translate "My Wine Cellar" %}</h1>
{% endblock header %}
{% block content %}
    <div class="pure-g">
        <div class="pure-u-1-1">
            <ul class="stats__card-container">
                <li class="stats__card">
                    <p class="stats__number">{{ wines_in_stock }}</p>
                    <a href="{% url 'wine-list' %}">
                    <p class="stats__label">
                        {% blocktranslate count counter=wines_in_stock %}
                            Wine in Stock
                        {% plural %}
                            Wines in Stock
                        {% endblocktranslate %}
                    </p>
                    </a>
                </li>
                <li class="stats__card">
                    <p class="stats__number">{{ wines }}</p>
                    <a href="{% url 'wine-list' %}">
                        <p class="stats__label">
                            {% blocktranslate count counter=wines %}
                                recorded Wine
                            {% plural %}
                                recorded Wines
                            {% endblocktranslate %}
                        </p>
                    </a>
                </li>
                <li class="stats__card">
                    <p class="stats__number">{{ countries }}</p>
                    <a href="{% url 'wine-list' %}">
                    <p class="stats__label">
                        {% blocktranslate count counter=countries %}
                            Country
                        {% plural %}
                            Countries
                        {% endblocktranslate %}
                    </p>
                    </a>
                </li>
                <li class="stats__card">
                    <a href="{% url 'wine-list' %}?name=&wine_type=&category=&vintage=&order=vintage">
                        <p class="stats__number">{{ oldest }}</p>
                        <p class="stats__label">{% translate "Oldest Wine" %}</p>
                    </a>
                </li>
                <li class="stats__card">
                    <a href="{% url 'wine-list' %}?name=&wine_type=&category=&vintage=&order=-vintage">
                        <p class="stats__number">{{ youngest }}</p>
                        <p class="stats__label">{% translate "Youngest Wine" %}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}
